# No need for people cluster conf
cluster.conf
cluster.conf*
**/cluster.conf
**/cluster.conf*
**/prep_conf.conf
**/prep_conf.conf*

# No bin data
bin/*.sh
bin/*
bin/**
bin/
# No Conf Data
conf/
conf/*
conf/**

# No Archive data
archive/
archive/*
archive/**

# No Temp data
tmp/*.tmp

tmp/
tmp/**
tmp/*
clearcluster.sh
build-mapr.sh



private-kubernetes/
private-kubernetes/*
private-kubernetes/**

private-kubernetes-jo/
private-kubernetes-jo/*
private-kubernetes-jo/**

mapr-picasso/
mapr-picasso/*
mapr-picasso/**

picasso_notes.txt


# Files that created on install
kubectl
./helm


# Any Key files should be ignored
id_rsa
id_rsa.pub
**/*.pem
**/id_rsa
**/id_rsa.pub

# Local Directories
mapr_defaults/
client_install/
maprdocker/
zkdocker/

# Files specific to an installation
ip_detect.sh

hostlist.txt
internal_hosts.txt
out.prv
out.prv.pub
